<hr>
<br/>

<div class="subscribe">Enjoyed what you just read? Subscribe to the newsletter below or follow me on <a href="https://twitter.com/EliasNema">twitter</a>.</div>

<!-- Begin Revue Signup Form -->
<div id="revue-embed">
    <form action="https://www.getrevue.co/profile/eliasnema/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <div class="revue-form-group">
      <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
      <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
      <input class="revue-form-field" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
    </div>
    <div class="revue-form-actions">
      <input class="revue-submit-button" type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
    </div>
    <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
    </form>
  </div>
<!--End mc_embed_signup-->