---
--- 


@import "{{ site.theme }}";

$base-font-family: monospace;
$text-color: #111 !default;
$base-font-size: 0.7em;
$background-color: #fdfdfd !default;
$brand-color: #202020 !default;
$grey-color: #828282 !default;
$a-color: #505050 !default;
$a-visited-color: #a0a0a0 !default;
$opaque-cyan: rgba(0, 142, 140, .1);
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
// Width of the content area
$content-width: 680 !default;
$on-palm: 460px !default;
$on-laptop: 680px !default;

a {
  color: $a-color;
  text-decoration: underline;
}

a:hover {
  background-color: $opaque-cyan;
  border-radius: 3px;
}

a:visited {
  color: $a-visited-color;
}

.post-date {
  color: $a-color;
}

pre,
code {
  background-color: #eee;
}
code {
  font-size: 0.7rem;
}
.highlighter-rouge .highlight {
  background-color: #eee;
  font-family: monospace;
}
.site-title {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1.5em;
}

blockquote {
  border-left: 4px solid darkcyan;
  padding: 15px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.thought {
  border-left: none;
  letter-spacing: 1.5px;
  background-color: $opaque-cyan;
  border-radius: 4px;
  border: 1px solid darkcyan;
  font-style: normal;
  box-shadow: 2px 2px 0px darkcyan;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main-img {
  float: left;
  border-radius: 20px;
  width: 20%;
  margin-right: 2rem;
  margin-bottom: 6rem;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.thumbnail-img { 
  max-height: 120px;
  max-width: none;
  width: auto;
  box-shadow: none;
  border: none;
  float: left;
  padding: 0.5em 2em 1em 0em;
}

img[src~="#thumbnail"] { 
  width: 20%;
  box-shadow: none;
  border: none;
}
img[src~="post-thumbnail"] { width: 20%; position: inline; }
img[src~="70%"] { width: 70%; }
img[src~="50%"] { width: 50%; }
img[src~="30%"] { width: 30%; }

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.post-title {
  font-size: $base-font-size * 4;
  font-weight: bold;
}

.subscribe {
  font-style: italic;
  text-align: center;
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "CONTENTS";
  font-weight: bold;
  align-content: left;
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: lower-alpha;
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 1rem;
  padding-left: 0.7rem;
}

#markdown-toc li {
  text-decoration: underline;
}
#markdown-toc ul li ul li a {
  color: grey;
}

#markdown-toc {
  font-family: helvetica, arial, geneva, sans-serif;
  line-height: 1.7em;
  list-style: decimal;
  float: right;
  right: 0;
  font-size: 0.8rem;
  margin: 1rem 1rem 1rem 3rem;
  width: 30%;
  border-left: 1px solid black;
  padding-block-end: 0.5rem;
  padding-left: 3rem;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  #markdown-toc {
    width: 80%;
  }
}
