---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <div>
    <p><img class="main-img" src="assets/elias.jpeg"></p>
  <p>
    Hi, I'm Elias. Here I'm writing about topics related to ecommerce, books, football and generally random things. By day I'm leading recommendations and personalisation at the OLX Group.
  </p>
  <h3>Things I'm also working on:</h3>
  <ul>
    <li>A book called <b>Hypothesize!</b> about better ways of managing data products. You can pre-order it <a href="https://gumroad.com/l/SSTiNM/kwfh1gn">here at half price</a>. <i>Note that you will only get charged after the release date.</i></li>
    <li>An occasional newsletter called <a href="{{site.url}}/data-meets-product/">"Data Meets Product"</a> with a focus on the news about data applications.</li>
  </ul>
</div>
<h1>Log</h1>
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h4>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
