---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <p><img class="main-img" src="assets/elias.jpeg"></p>
  <p>
    I'm leading recommendations and personalisation at the OLX Group.
  </p>
  <p>I'm also working on a book called <b>Hypothesize!</b> You can pre-order it <a href="https://gumroad.com/l/SSTiNM/kwfh1gn">here for half a price</a>. Note that you will only get charged after the release date.</p>
  <p>
    Join the <a href="https://telegram.me/hypothesize" target="_blank">telegram channel</a> where I write about data, product, personalisation & relevance, football, books and the intersection of all of the above.
  </p>
  <p>
    Follow me on <a href="https://twitter.com/EliasNema" target="_blank">twitter</a> and <a href="https://linkedin.com/in/eliasnema/" target="_blank">linkedin</a>.
  </p>
<br/>

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h4>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
